name: Transform Figma Tokens to Chakra tokens

# events
on:
  push:
    branches:
      - 'main'
    paths:
      - 'figmaTokensChakra/**'

# jobs
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node.js Env
        uses: actions/setup-node@v2.4.0

      - name: Checkout
        uses: actions/checkout@master

      # Install Dependencies
      - run: yarn install

      # Transform to Chakra tokens with SD
      - run: yarn run transform2CSS

      # copy needed files for the documentation components this can be improved
      - run: yarn copy-tokens

      # update dist to be consumed by framer
      - run: yarn run build

      # Give write access to repo
      - run: sudo chown -R $USER:$USER ${{ github.workspace }}

      - name: Commit the changes
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: Built new version ready to be consumed by framer
